.payments {
    width: 100%;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
}

.checkout {
    text-align: center;
    margin-top: 200px;
    line-height: 90px;
}
.checkout h3{
    color: rgb(18, 129, 18);
}
.checkout a {
    text-decoration: none;
    color: rgb(91, 91, 238);
    font-weight: bold;

}
.clear{
    text-align: center;
    margin-top: 70px;
}

.clear a{
    text-decoration: none;
}

.buttonContainer{
    display: flex;
    /* background-color: red; */
    width: 25%;
    justify-content: space-around;
}

.buttonContainer button{
    margin: 10px ;
    font-size: 16px;
}

.checkoutBtn {
    border: none;
    outline: none;
    background-color: rgb(15, 141, 15);
    color: white;
    padding: 7px 15px;
    border-radius: 5px;
}

.clearBtn {
    border: none;
    outline: none;
    color: red;
}

@media (max-width : 768px) {
    .buttonContainer{
        width: 35%;
    }
    .buttonContainer button {
        font-size: 11px;
    }
    .payments p {
        font-size: 11px;
    }

    @media (max-width : 450px) {

        .payments{
            flex-direction: column;
            padding: 10px;
        }
        .payments p {
            font-size: 12px;
            margin-right: 15px;
        }

        .buttonContainer {
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }

        .clearBtn{
            background-color: red;
            color: white;
            border-radius: 5px;
            padding: 7px 0;
        }
    }
}